{% extends 'index.html' %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1 class="mb-5">CONTACT US</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Company Name</label>
                        <input type="text" name="name" class="form-control" />
                    </div>
                    <div class="form-outline mb-4 col-md-6">
                      <label class="form-label">Mobile</label>
                      <input type="text" name="mobile" class="form-control" />
                  </div>      
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-6">
                    <label class="form-label">Telephone</label>
                    <input type="text" name="telephone" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-6">
                  <label class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" />
                </div>      
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Website</label>
                <input type="text" name="website" class="form-control" />
              </div>

              <div>
                <h1 class="text-center">Location</h1>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Address</label>
                <textarea name="address" class="form-control" id="" cols="30" rows="5"></textarea>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-6">
                  <label class="form-label">Latitude</label>
                  <input type="text" name="latitude" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-6">
                  <label class="form-label">Longitude</label>
                  <input type="text" name="longitude" class="form-control" />
                </div>
              </div>

              <div>
                <h1 class="text-center mt-2 mb-2">Social Media</h1>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">WhatsApp</label>
                  <input type="text" name="whatsapp" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Facebook</label>
                  <input type="text" name="facebook" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Instagram</label>
                  <input type="text" name="instagram" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Twitter</label>
                  <input type="text" name="twitter" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">LinkedIn</label>
                  <input type="text" name="linkedin" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Logo</label>
                  <input type="file" name="image" class="form-control" />
                </div>
              </div>

              <div>
                <h1 class="text-center">SEO</h1>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">Url</label>
                    <input type="text" name="url" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">SEO Meta Title</label>
                    <input type="text" name="smtitle" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">SEO Meta Keywords</label>
                    <input type="text" name="smkeywords" class="form-control" />
                </div>
              </div>
              
              
              <div class="form-outline mb-4">
                <label class="form-label">SEO Meta Description</label>
                <textarea name="smdescription" id="" cols="30" rows="5" class="form-control">enter message here</textarea>
              </div>

              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">submit</button>
                </div>
              </div>
            </form>
          </div>
    </main>
{% endblock content %}