{% extends 'index.html' %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1>EDIT BLOG</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row mt-3">
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Blog Title</label>
                        <input type="text" name="title" value="{{blog.Title}}" class="form-control" /> 
                    </div>
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Blog Image</label>
                        <input type="file" name="image" class="form-control" />
                    </div>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Blog Description</label>
                <textarea name="description" id="" cols="30" rows="10" class="form-control">{{blog.Description}}</textarea>
              </div>
              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">Url</label>
                    <input type="text" value="{{blog.Url}}" name="url" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">SEO Meta Title</label>
                    <input type="text" value="{{blog.SMTitle}}" name="smtitle" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">SEO Meta Keywords</label>
                    <input type="text" value="{{blog.SMKeywords}}" name="smkeywords" class="form-control" />
                </div>
              </div>
              
              
              <div class="form-outline mb-4">
                <label class="form-label">SEO Meta Description</label>
                <textarea name="smdescription" id="" cols="30" rows="5" class="form-control">{{blog.SMDescription}}</textarea>
              </div>
              
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">submit</button>
                </div>
              </div>
            </form>
          </div>
    </main>
{% endblock content %}