{% extends 'index.html' %}
{% block content %}
<div class="table-responsive">
    <div class="text-center mt-5 mb-5">
        <h1>Manage Service</h1>
    </div>
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr class="text-center">
          <th scope="col" class="sort" data-sort="name">SI</th>
          <th scope="col" class="sort" data-sort="budget">Service Title</th>
          <th scope="col" class="sort" data-sort="status">Service Image</th>
          <th scope="col" class="sort" data-sort="completion"></th>
          <th scope="col" class="sort" data-sort="completion"></th>
        </tr>
      </thead>
      <tbody class="list text-center">
        {% for service in services %}
            <tr>
            <td>1</td> 
            <td>{{service.Title}}</td>  
            <td scope="row" class="align-items-center d-flex justify-content-center">
                <div class="media align-items-center">
                <a href="#" class="avatar rounded-circle mr-3">
                    <img alt="" src="{{service.Image.url}}">
                </a>
                </div>
            </td>
            <td>
                <a href=""><button class="btn btn-primary">Edit</button></a>
            </td>
            <td>
                <a href="{% url 'remove_service' user.id service.id %}"><button class="btn btn-danger">Delete</button></a>
            </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}