{% extends 'index.html' %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1 class="mb-5">Upload image</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Album Title</label>
                        <select name="select" id="" class="form-control">
                            {% for album in albums %}
                                <option value="{{album.id}}">{{album.Title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Album Thumbnail</label>
                        <input type="file" name="image" class="form-control" />
                    </div>
              </div>
              
              <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">submit</button>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
          </div>
    </main>
{% endblock content %}