<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Owl Language" />
    <meta name="description" content="Owl Language" />
    <meta name="author" content="Owl Language" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>Owl Language</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'frontpage/images/favicon1.png' %}" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="{% static 'frontpage/css/font-awesome/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/bootstrap/bootstrap.min.css' %}" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature) -->
    <link rel="stylesheet" href="{% static 'frontpage/css/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/animate/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/magnific-popup/magnific-popup.css' %}" />

    <!-- Template Style -->
    <link rel="stylesheet" href="{% static 'frontpage/css/style.css' %}" />

</head>
{% block content %}

{% endblock content %}
<!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="{% static 'frontpage/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'frontpage/js/popper/popper.min.js' %}"></script>
    <script src="{% static 'frontpage/js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="{% static 'frontpage/js/jquery.appear.js' %}"></script>
    <script src="{% static 'frontpage/js/counter/jquery.countTo.js' %}"></script>
    <script src="{% static 'frontpage/js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'frontpage/js/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'frontpage/js/swiperanimation/SwiperAnimation.min.js' %}"></script>
    <script src="{% static 'frontpage/js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'frontpage/js/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'frontpage/js/easy-pie-chart/easy-pie-chart.js' %}"></script>
    <script src="{% static 'frontpage/js/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'frontpage/js/apexcharts/charts.js' %}"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="{% static 'frontpage/js/custom.js' %}"></script>