 {% load static %}
 <footer class="space-pt footer footer-02 bg-dark">
    <div class="container">
      <div class="row">
          
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
            <br><br>
           <div class="footer-logo mb-4"><br><br><br>
            <a href="{% url 'indexpage' %}"></a><img class="img-fluid" src="{% static 'frontpage/images/logo.png' %}" alt=""></a>
            </div>
            <!--<p class="mb-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly.</p>-->
            <!--<div class="footer-email">-->
            <!--  <p class="text-white mb-1">Telephone : <a href="tel:123-345-6789">(123) 345-6789</a></p>-->
            <!--  <p class="text-white mb-0">Email : <a href="mailto:letstalk@gmail.com">letstalk@gmail.com</a></p>-->
            <!--</div>-->
        </div>
        <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
          <div class="footer-link">
            <h6 class="text-white mb-3 mb-md-4">Quick Links</h6>
            <ul class="list-unstyled">
              <li><a href="{% url 'indexpage' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Home</a></li>
              
              {% if quick.About_Page %}
                <li><a href="{% url 'about' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>About</a></li>
              {% endif %}

              {% if quick.Service_Page %}
                <li><a href="{% url 'servicepage' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Services</a></li>
              {% endif %}

              {% if quick.Products_Page %}
                <li><a href="{% url 'productspage' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Products</a></li>
              {% endif %}

              <li><a href="{% url 'team' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Team</a></li>

              {% if quick.Blog_Page %}
                <li><a href="{% url 'blogspage' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Blogs</a></li>
              {% endif %}

              {% if quick.Image_Gallery %}
                <li><a href="{% url 'gallerypage' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Gallery</a></li>
              {% endif %}

              {% if quick.Contact_Page %}
                <li><a href="{% url 'contactpage' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Contact</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
        
        {% if quick.Optional_Service %}
        <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
          <div class="footer-link">
            <h6 class="text-white mb-3 mb-md-4">Services</h6>
            <ul class="list-unstyled">
              {% for service in services %}
                <li><a href="{% url 'single-service' service.Url %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>{{service.Title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        
        {% if quick.Optional_Products %}
        <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
          <div class="footer-link">
            <h6 class="text-white mb-3 mb-md-4">Products</h6>
            <ul class="list-unstyled">
              {% for product in products %}
                <li><a href="{% url 'single-product' product.Url %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>{{product.Title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

        <div class="col-lg-2 col-sm-6 mb-4 mb-sm-0">
          <div class="footer-link">
            <h6 class="text-white mb-3 mb-md-4">Contact</h6>
            <p>{{contact.Adress}}<br>
            Telephone : <a href="tel:123-345-6789">{{contact.Telephone}}</a><br>
            Email : <a href="mailto:letstalk@gmail.com">{{contact.Email}}</a></p>
            <!--<h6 class="text-white mb-3 mb-md-4">Support Centre</h6>-->
            <!--<p class="mb-0"></p>-->
          </div>
        </div>
      <!--  <div class="col-lg-3 col-sm-6">-->
      <!--  <div class="footer-subscribe">-->
      <!--     <h6 class="text-white mb-3 mb-md-4">Sign up for our newsletter</h6>-->
      <!--    <p class="mb-3">Sign up to our Newsletter to get the latest news and offers.</p>-->
      <!--    <form class="footer-form">-->
      <!--      <div class="form-group">-->
      <!--        <input type="text" class="form-control" placeholder="Enter your email">-->
      <!--      </div>-->
      <!--      <button type="submit" class="btn btn-light btn-flat"><i class="btn-icon fas fa-paper-plane"></i><span>Subscribe</span></button>-->
      <!--   </form>-->
      <!--  </div>-->
      <!--</div>-->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="border-bottom opacity-2 space-pt"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0 text-white"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="{% url 'indexpage' %}"> OwnLanguage </a> All Rights Reserved </p>
          </div>
          <div class="col-md-6  mt-2 mt-md-0 copyright text-md-right">
            Designed by <a href="#">Weblanza</a>
          </div>
        </div>
      </div>
    </div>
  </footer>